@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap");

:root {
  --Title-Font: "Open Sans", sans-serif;
  --Semi-Title-Font: "Ubuntu", sans-serif;
  --Content-Font: "Trebuchet MS";

  --Color-Main-Text: white;
  
  --Color-Main-Bg: #012E40;
  --COlor-Second-Bg:#F2E3D5;

  --Color-Vertical-Square1:#F2E3D5;
  --Color-Vertical-Square2:#3CA6A6;

  --Color-Project-Bg:#3CA6A6;
  --Color-Vertical-Animation: #3CA6A6;

  --Color-BubbleChat:#026773;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Color-Main-Bg);
  margin: 0;
  display: block;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}

.main-wrapper {
  position: relative;
}

.scroll-top-panel {
  position: relative;
  min-height: 300vh;
}

.top-panel,
.side-panel,
.top-panel-container {
  min-height: 100vh;
}

.top-panel {
  width: 100%;
  position: fixed;
  top: 0;
}

.top-panel-master-img {
  opacity: 0;
  position: fixed;
  bottom: 0;
  /* 3.5-65 */
  left: 65%;
  width: 400px;
  /* height: 500px; */
  z-index: 3;
  transition: 0.3s;
}

.top-panel h1 {
  margin: 0;
}

.side-panel {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 100%;
  width: 20%;
  background-color: var(--COlor-Second-Bg);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-main-img {
  position: fixed;
  z-index: 3;
}

.top-main-img object {
  position: fixed;
  transition: 0.3s;
  opacity: 0;
  width: 450px;
  bottom: 0;
  left: 20%;
}

.top-main-img .BubbleChat {
  position: fixed;
  transition: 0.3s;
  opacity: 0;
  bottom: 40%;
  left: 40%;
}

.mid-panel {
  display: flex;
}

.section2 {
  z-index: 4;
  background-color: var(--Color-Main-Bg);
  position: absolute;
  min-height: 100vh;
}

.top-panel-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-panel-text-container {
  margin-left: 5em;
  margin-bottom: 10em;
}

.top-panel-text-container h1, .top-panel-text-container h2 {
  margin: 0;
}

.top-panel-text-container h1 {
  font-size: 60px;
}

.top-panel-text-container h2 {
  font-size: 40px;
}

.top-panel-text-container h4 {
  font-size: 20px;
}

.mid-panel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  position: relative;
}

.mid-mini-line {
  width: 0;
  height: 3px;
  background-color: var(--Color-Main-Text);
}

.mid-panel-container {
  min-height: 100vh;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mid-vertical-line {
  left: 2.5em;
  top: 50%;
  height: 300px;
  position: sticky;
  width: 10px;
  /* background-color: white; */
  margin-top: 10em;
}

.mini-square {
  top: 50%;
  position: sticky;
  left: 5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.ms1 {
  background-color: var(--Color-Vertical-Square1);
  transform: translateY(270px);
}
.ms2 {
  transform: translateY(270px);
  background-color: var(--Color-Vertical-Square2);
}

.mid-panel-left,
.mid-panel-right {
  width: 5%;
}

.mid-panel-center {
  margin: 2em;
  padding: 2em;
  width: 90%;
}

.contain-out-container {
  display: flex;
}

.stag-content {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--Color-Project-Bg);
  width: 10em;
  height: 10em;
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.2;
}

.tr-sqr:hover {
  transform: scale(1) !important;
  transition: 0.3s;
}
.tr-sqr:hover > .square-clicker {
  opacity: 1;
  transition: 0.3s;
}

.tr-sqr:hover > img {
  filter: blur(2px);
}

.tr-sqr {
  transition: 0.3s;
}

.tr-sqr img {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.square-clicker {
  color: var(--Color-Main-Text);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.square-icon {
  padding-bottom: 1em;
  cursor: pointer;
  z-index: 5;
}

.square-icon:hover {
  transition: 0.3s;
  color: var(--Color-Main-Bg);
}

.left-contain2,
.right-contain2 {
  width: 30%;
}

.tr-main-text {
  font-family: var(--Title-Font);
  color: var(--Color-Main-Text);
}

.rec-inn-L {
  justify-content: flex-end;
  text-align: right;
}

.rec-inn-R {
  justify-content: flex-start;
  text-align: left;
}
.rectangle-inn {
  color: var(--Color-Main-Text);
  font-family: var(--Content-Font);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 15px;
}

.rectangle-inn h1 {
  margin-left: 1em;
  margin-right: 1em;
}

.rectangle {
  border-radius: 5px;
  margin: 20px;
  background-color: var(--Color-Project-Bg);
  height: 10em;
  position: relative;
  width: auto;
  transform: translateY(-10px);
  /* clip-path: inset(0 0 0 100%); */
  transition: 0.3s ease;
}

.rectangle-hide {
  opacity: 0;
}

.rectangle h2 {
  display: inline-block;
}

.tri-left.border.btm-left:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-left.btm-left:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--Color-BubbleChat) transparent transparent var(--Color-BubbleChat);
}


.talk-bubble {
  color: var(--Color-Main-Text);
  margin: 40px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: var(--Color-BubbleChat);
}

.talktext {
  font-family: var(--Content-Font);
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  font-size: larger;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.contain-container {
  color: var(--Color-Main-Text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--Semi-Title-Font);
}

.contain-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contain-inner-container img {
  opacity: 0;
  width: 200px;
  height: 200px;
  padding: 2em;
}

.Vsection {
  width: 100px;
  min-height: 100vh;
  position: relative;
  padding: 0;
}

.hscroll-line {
  bottom: 0;
  right: 2.5em;
  height: 400px;
  position: absolute;
  overflow: hidden;
  width: 2px;
}

.hscroll-line::before,
.hscroll-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line:before {
  background: #ffffff3b;
}

.hscroll-line::after {
  background: var(--Color-Vertical-Animation);
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translate3d(0, -200%, 0);
  }
  60% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

.footer {
  z-index: 4;
  background-color: var(--COlor-Second-Bg);
  min-height: 25vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-wrapper-text {
  width: 50%;
  margin-left: 1em;
  margin-right: 1em;
  font-family: var(--Semi-Title-Font);
  color: var(--Color-Main-Bg);
  text-align: right;
}

.footer-wrapper-text h1 {
  margin: 0;
  font-size: 40px;
}

.footer-wrapper {
  width: 50%;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  color: var(--Color-Main-Bg);
}

.footer-iconWrapper {
  font-family: var(--Semi-Title-Font);
  align-items: center;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
}

.footer-iconWrapper h2 {
  margin-left: 1em;
}

.footer-iconWrapper:hover {
  color: var(--Color-Project-Bg);
  transition: 0.3s;
}




