/* for top */
.top-panel-PTV {
  position: relative;
  width: 100%;
  z-index: -2;
  min-height: 300vh;
}

.top-panel-text-container-PTV {
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 2em;
  margin-right: 2em;
}

.top-panel-text-container-PTV h1, .top-panel-text-container-PTV h2 {
  margin: 0;
}

.top-panel-text-container-PTV h1 {
  font-size: 60px;
}

.top-panel-text-container-PTV h2 {
  font-size: 40px;
}

.top-panel-text-container-PTV h4 {
  font-size: 20px;
}

.top-panel-container-PTV {
  width: 100%;
  min-height: 100vh;
}

.side-panel-PTV {
  top: 0;
  position: sticky;
}

.side-panel-inner-PTV {
  position: relative;
  top: 0;
  min-height: 105vh;
  background-color: var(--COlor-Second-Bg);

  width: 100%;
}

.side-panel-inner-PTV object {
  position: absolute;
  transition: 0.3s;
  opacity: 1;
  bottom: 0;
}

.side-panel-inner-PTV object:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
}

.side-panel-inner-PTV object:nth-child(3) {
  width: 330px;
  right: 0;
}

.tri-center.border.btm-center:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-center.btm-center:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid;
  border-color: var(--Color-BubbleChat) transparent transparent;
}

/* for mid */
.mid-panel-center-PTV {
  width: 100%;
}
.section2-PTV {
  margin-top: -100vh;
  background-color: var(--Color-Main-Bg);
  min-height: 100vh;
}

.rectangle-inn-small {
  font-size: 11px !important;
}

