/* SplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Color-Main-Bg); /* Atur warna latar belakang */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#svg-splash path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

/* Tambahkan gaya lainnya sesuai kebutuhan */
